<div class="page-title-right">
    <ol class="breadcrumb m-0 text-sm">
        <li class="breadcrumb-item"><a href="javascript: void(0);">Campaigns</a></li>
        <li class="breadcrumb-item active">Create Campaigns</li>
    </ol>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4 gap-3">
    <h3 class="mb-0">Create Campaign</h3>
    <div class="d-flex flex-wrap justify-content-md-end gap-2 gap-sm-3">
        <button class="btn btn-outline-primary"><i class="fa fa-user-tag me-1"></i><span
                class="d-none d-sm-inline">Calculate recipients</span><span
                class="d-inline d-sm-none">Recipients</span></button>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Save <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Save as Draft</a>
                <a class="dropdown-item" href="#">Save as Template</a>
            </div>
        </div>
        <a href="pages-starter6.html" class="btn btn-primary"><i class="mdi mdi-check me-1"></i>Review & Launch</a>
    </div>
</div>
<div class="overflow-x-auto pb-2" style="scrollbar-width: thin;">
    <ol class="d-flex gap-4 gap-md-5 list-unstyled mb-0" style="min-width: max-content;">
        <li class="text-muted"><a href="pages-starter.html" class="text-muted ">Setup </a></li>
        <li class="text-muted"><a href="pages-starter2.html" class="text-muted">Template </a></li>
        <li class="text-muted"><a href="pages-starter3.html" class="text-muted">Recipients </a></li>
        <li class="text-muted"><a href="pages-starter4.html" class="text-muted">Schedule </a></li>
        <li class="text-muted"><a href="pages-starter5.html" class="text-primary">Review & Launch </a></li>
        <li class="text-muted"><a href="pages-starter6.html" class="text-muted">Analytics </a></li>
    </ol>
</div>
<hr>

<div class="card pt-4 pb-4 m-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 border-end">
                <p class="text-muted mb-1 text-xs">Est. recipients</p>
                <div class="d-flex align-items-center">
                    <h2 class="mb-0 me-2">?</h2>
                    <a href="javascript:void(0);" class="text-primary"><i class="mdi mdi-refresh"></i></a>
                </div>
            </div>
            <div class="col-md-6 ps-4">
                <p class="text-muted mb-1 text-xs">Schedule</p>
                <h3 class="mb-0">Send now</h3>
            </div>
        </div>
    </div>
</div>

<div class="m-3 mt-4">
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Campaign type</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">Single Stage, Time Based</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Channels</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">Inbox</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Audience</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">Send to everyone</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Multi-language support</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">No</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Variants</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">No</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <p class="fw-bold mb-0">Goal conversion</p>
        </div>
        <div class="col-md-9">
            <p class="text-muted mb-0">No</p>
        </div>
    </div>
</div>