<!-- dark layout js -->
<script src="assets/js/pages/layout.js"></script>

<!-- Bootstrap Css -->
<link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- simplebar css -->
<link href="assets/libs/simplebar/simplebar.min.css" rel="stylesheet">
<!-- MetisMenu Css -->
<link href="assets/libs/metismenu/metisMenu.min.css" rel="stylesheet" type="text/css" />
<!-- DataTables -->
<link href="assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
    type="text/css" />
<!-- App Css-->
<link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<!-- Custom Typography CSS -->
<link href="assets/css/custom-typography.css" rel="stylesheet" type="text/css" />
<!-- Analytics Professional CSS -->
<link href="assets/css/analytics-professional.css" rel="stylesheet" type="text/css" />
<!-- SMS & Gifts Modal CSS -->
<link href="assets/css/modals-sms-gifts.css" rel="stylesheet" type="text/css" />